<!DOCTYPE html>
<html>

  <head>
    <script data-require="underscore.js@*" data-semver="1.5.2" src="//cdn.jsdelivr.net/underscorejs/1.5.2/underscore-min.js"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="backbone.js@*" data-semver="1.0.0" src="//cdn.jsdelivr.net/backbonejs/1.0.0/backbone-min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
    <div id="add-task">
      <input id="input-task" />
      <button id="btn-add-task">Add my task</button>
    </div>
    
    <div id="task-list"></div>
  </body>

</html>
